<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skyrentyle.faisal.doppy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Recipient.RecipientRegisterActivity"></activity>
        <activity android:name=".Recipient.RecipientLoginActivity" />
        <activity android:name=".Recipient.RecipientAccountDeactivateActivity" />
        <activity android:name=".Recipient.ShowDatabaseElementActivity" />
        <activity android:name=".Recipient.RecipientInfoEditActivity" />
        <activity android:name=".Recipient.RecipientProfilePageActivity" />
        <activity android:name=".PostActivity.PostViewActivity" />
        <activity android:name=".PostActivity.PostsActivity" />
        <activity android:name=".PostActivity.DonationPostFragment" />
        <activity android:name=".DonorActivities.DonorCreateNewPostActivity" />
        <activity android:name=".DonorActivities.DonorProfilePageActivity" />
        <activity android:name=".DonorLoginSignup.DonorLoginActivity" />
        <activity android:name=".DonorLoginSignup.DonorSignUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>